:root {

    --mostBackgroundColor: #0f172a;
    --highlightedTextColor: #e2e8f0;
    --mainTextColor: #9dadc2;
    --additionalTextColor: #64748b;
    --buttonBackgroundColor: #122b39;
    --buttonTextColor: #5eebd5; /*  also for hover link text  */


    --mostRadius: 0.8rem;
    --mostPadding: 0.7em 1.7em;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

header {
    background-color: #0f172a80;
    color: var(--mainTextColor);
    z-index: 1;
}

body, html {
    
    font-size: 14pt;
    margin: auto;
    max-width: 80%;
    background-color: var(--mostBackgroundColor);
    color: var(--mainTextColor);
    z-index: -1000;
    
}

header.sticky {
    position: sticky;
    top: 0;
    padding: 2%;
}

main {
    position: relative;
    height: 100vh;

    width: 100%;
}

h1 {
    color:var(--highlightedTextColor);
}

a {
    color: var(--buttonTextColor);
    text-decoration: none;
}





button {
    color: var(--buttonTextColor);
    background: var(--buttonBackgroundColor);
    padding:var(--mostPadding);
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--mostRadius);
    border: 2px solid var(--color10);
    transition: all 0.1s;

}

button:hover {
    border: 2px solid var(--color30);
}

button:active {
    border: 2px solid var(--color40);

}








ul {
    padding: 0; 
    margin: 0; 
    list-style: none; 
}

li {
    margin-bottom: 10px; 
}

table {
    border-collapse: separate; 
}

td {
    display: grid;
    border: 1px solid var(--buttonBackgroundColor); 
    padding: 10px;

}












.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: var(--mostBackgroundColor);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%); 

}
  
  
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--buttonBackgroundColor);
}
  
.title::before {
    width: 18px;
    height: 18px;
    background-color: var(--buttonBackgroundColor);
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.message, .signin {
    color: var(--additionalTextColor);
    font-size: 14px;
}
  
.signin {
    text-align: center;
}
  
.signin a {
    color: var(--buttonTextColor);
}
  
.signin a:hover {
    text-decoration: underline var(--buttonTextColor);
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--additionalTextColor);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: var(--buttonTextColor);
}
  
.submit {
    border: none;
    outline: none;
    background-color: var(--buttonBackgroundColor);
    padding: 10px;
    border-radius: 10px;
    color: var(--buttonTextColor);
    font-size: 16px;
    transform: .3s ease;
}
  
.submit:hover {
    background-color: var(--additionalTextColor);
}
  
@keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
}








#weAreHere {
    border: 2px solid #F6F1F1;
    background: var(--color40);
    color: var(--color20);
}








/* свалка значений 


font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif



*/