:root {

    --mostBackgroundColor: #0f172a;
    --highlightedTextColor: #e2e8f0;
    --mainTextColor: #9dadc2;
    --additionalTextColor: #64748b;
    --buttonBackgroundColor: #122b39;
    --buttonTextColor: #5eebd5; /*  also for hover link text  */


    --mostRadius: 0.8rem;
    --mostPadding: 0.7em 1.7em;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

header {
    background-color: #0f172a80;
    color: var(--mainTextColor);
    z-index: 1;
}

body, html {
    
    font-size: 14pt;
    margin: auto;
    max-width: 80%;
    background-color: var(--mostBackgroundColor);
    color: var(--mainTextColor);
    z-index: -1000;
    
}

header.sticky {
    position: sticky;
    top: 0;
    padding: 2%;
}

main {
    position: relative;
    height: 100vh;

    width: 100%;
}

h1 {
    color:var(--highlightedTextColor);
}

a {
    color: var(--buttonTextColor);
    text-decoration: none;
}

button {
    color: var(--buttonTextColor);
    background: var(--buttonBackgroundColor);
    padding:var(--mostPadding);
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--mostRadius);
    border: 2px solid var(--color10);
    transition: all 0.1s;

}

button:hover {
    border: 2px solid var(--color30);
}

button:active {
    border: 2px solid var(--color40);

}

ul {
    padding: 0; 
    margin: 0; 
    list-style: none; 
}

li {
    margin-bottom: 10px; 
}

table {
    border-collapse: separate; 
}

td {
    display: grid;
    border: 1px solid var(--buttonBackgroundColor); 
    padding: 10px;

}














.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, var(--mostBackgroundColor) -30%, var(--buttonBackgroundColor) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cardContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--buttonBackgroundColor);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card:hover .cardContent {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .cardTitle {
    margin: 0;
    font-size: 24px;
    color: var(--highlightedTextColor);
    font-weight: 700;
  }
  
  .cardDescription {
    margin: 10px 0 0;
    font-size: 14px;
    color: var(--mainTextColor);
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
  }
  








#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px 50px



}

#searchTable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

@media (max-width: 800px) {
    #searchTable {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    }
}


#weAreHere {
    border: 2px solid #F6F1F1;
    background: var(--color40);
    color: var(--color20);
}








/* свалка значений 


font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif



*/